@import '../../vars.css';
.container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(
        180deg,#576cbc 0% , #132a53 100%);
    box-shadow: 0 16px 14px 0 #04152d ;
    padding: 18px 24px;
    max-width: 345px;
}

.image{
    margin-bottom: 26px;


}

.title{
    font-size: 25px;
    font-weight: 700px;

}

.description{
    font-size: 25px;
    margin-top: 6px;
    font-weight: 400;

}

.skills{
    margin-top: 14px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.skill{
    font-size: 25px;
    font-weight: 400;
    border-radius: 600px;
    padding: 3px 20px;
    background: #576a57;
}

.links{
    width: 100%;
    display: flex;

    margin-top: 26px;
    justify-content: space-around;
    
}

.link{
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    border-radius: 100px;
    background: #576cbc;
    padding: 1px 22px;
    color: var(--color-text);
}