.Navbar {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    background-color: var(--color-primary); /* Add background color */
    transition: background-color 0.3s ease;
    }  
  
  .title {
    width: 100%;
    margin: 2%;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color:#fff
    }

    .menu {
        display: flex;
      }

      .menuItems{
        display: flex;
        margin: 10px;
        list-style: none;
      }

      .menuItems a{
        font-size: 25px;
        color: var(--color-text);
        text-decoration: none;
        margin: 20px;
      }
     
      @media screen and (max-width:830px) {
        .Navbar{
            flex-direction: column;
            align-items: flex-start;
        }

        .menu{
            position: absolute;
            right: 0;
            margin-right: 10%;
            flex-direction: column;
            align-items: flex-end;
            z-index: 2;
            gap: 11px;
        }
        .menuBtn{
            cursor: pointer;
            width: auto;
            display: block;
            


        }
        .menuItems{
            display: none;
            flex-direction: column;
            align-items: center;
            gap: 13px;
            border-radius: 10px;    
            background: rgb(25, 55, 109);
            background: linear-gradient(
                0deg,
                rgba(25,55,109,0.2)0% ,
                rgba(25,55,109,1)100%);
            padding: 24px 33px;
            box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
        }
        .menuOpen{
            display: flex;
            z-index: 1;
        }
      }
   